@import "tailwindcss";

@theme {
  --font-cinzel: "Cinzel", serif;
  --font-montserrat: "Montserrat", sans-serif;
}

@layer utilities {
  .animate-shimmer {
    animation: shimmer 2.5s infinite linear;
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(150%);
  }
}
